

.form {
  display: flex;
  justify-content: center;
}

.form > div {
  background: white;
  display: inline-flex;
  flex-direction: column;
  width: 600px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 10px solid white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.form label {
  font-weight: bold;
  font-size: 10pt;
  margin: 5px 0;
}

.form input {
  padding: 8px 5px;
  border: 1px solid #ccc;
}

